
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
</head>
<body>
    <div>
        <h1>Index viewData content</h1>
        <h2> @ViewData["Name"]</h2>
        <ul>
            @foreach (string s in (String[])ViewData["Employees"])
            {
                <li>@s</li>
            }
        </ul>
    </div>
</body>
</html>
